name: Generate Contribution Snake

on:
  push:
    branches: ['main', 'master']
  schedule:
    - cron: '0 0 * * 1'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark

      - name: Commit and push updated snake image
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'chore: update GitHub contribution snake'
